@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

header{
  margin-top: 0;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 8px;
  left: 0;
  width: 24px;
  height: 2px;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.rotate {
  margin-left: 2px;
  margin-top: -2px;
  width: 16px;
  transform: rotate(180deg);
  transition: all 0.50s ease-in-out;
}

.header {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}


.swiper { 
  height: 470px;
  width: 100%;
}

.swiper-wrapper {
  height: auto;
}

.help-hrpec {
  display: flex;
  justify-content: center;
  text-align: center;
 }

.go-to-top {
  color: #71CFEB;
}

.go-to-top:hover {
  color: #1B6580;
}

.go-to-top-arrow:hover {
  color: #1B6580;
}

.the-board-border {
  border-bottom: 2px solid #0E3341;
}

.the-boards-name {
  padding-bottom: 14px;
}

.developer-cards:hover .text-after {
  visibility: visible;
}

@media only screen and (max-width: 767px) {

  .swiper { 
  height: 120px;
  width: 100%;
}

  .carousel {
    padding-top: 50px;
  }

  .overlay-image {
    background: RGBA(14,51,65,.3);
   }

 .sample-slider [class="swiper-button-prev"]{
    width: 20px;
    color: #0E3341;
  }

  .sample-slider [class="swiper-button-next"]{
    width: 20px;
    color: #71CFEB;
  }

 .main-content {
  margin-left: 0px;
  margin-right: 0px;
 }

 .pillar-text {
    margin-top: -30px;
  }

 .go-to-top {
  width: 40px;
  height: 40px;
  bottom: 1rem;
  right: .8rem;
 }

 .go-to-top-arrow {
  margin-left: 8px;
 }

 .miyerkulet-images {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}

@media only screen and (max-width: 1223px) and (min-width: 768px) {
  
  .swiper {
  height: 280px;
  width: 100%;
 }

 .carousel {
    padding-top: 60px;
  }

  .overlay-image {
    background: RGBA(14,51,65,.3);
   }

   .pillar-text {
    margin-top: -40px;
  }

 .help-hrpec {
  display: flex;
  justify-content: center;
  text-align: center;
 }

 .sample-slider [class^="swiper-button-"]{
  width: 100px;
  color: #71CFEB;
}

 .header-logo {
  margin-right: 10px;
}

.the-board-images-right {
  box-shadow: 40px -40px .5px #1B6580;
}

.the-board-images-left {
  box-shadow: -40px 40px .5px #71CFEB;

}

.go-to-top {
  width: 40px;
  height: 40px;
  bottom: 1rem;
  left: 1rem;
 }

 .go-to-top-arrow {
  margin-left: 8px;
 }

 .first-in-main-content {
  padding-left: 70px;
  padding-right: 70px;
}

.first-in-main-content-our-boards {
  padding-left: 70px;
  padding-right: 70px;
}

.second-in-main-content {
  padding-left: 70px;
  padding-right: 70px;
}

.second-in-main-content-about {
  width: 100%;
  height: 100%;
  padding-left: 70px;
  padding-right: 70px;
}

.third-in-main-content {
  padding-left: 70px;
  padding-right: 70px;
}

.third-in-main-content-pillars {
  padding-left: 70px;
  padding-right: 70px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.second-pillar-img {
  margin-left: 8px;
  margin-right: 8px;
}

.fourth-in-main-content {
  padding-left: 70px;
  padding-right: 70px;
}

.fourth-in-main-content-button {
  margin-top: 20px;
}

.fifth-in-main-content {
  padding-left: 70px;
  padding-right: 70px;
}

.fifth-in-main-content-button {
  padding-bottom: 20px;
}

.miyerkulet-images {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}

@media only screen and (min-width: 1224px){

  .header {
    padding-left: 120px;
    padding-right: 120px;
   }

   .overlay-image {
    background: RGBA(14,51,65,.4);
   }

   .sample-slider [class^="swiper-button-"]{
    width: 150px;
    color: #71CFEB;
  }

  .pillar-text {
    margin-top: -60px;
  }

  .the-board-images-right {
  box-shadow: 40px -40px .5px #1B6580;
}

.the-board-images-left {
  box-shadow: -40px 40px .5px #71CFEB;

}

.footer-left-side {
  padding-left: 200px;
}

.footer-right-side {
  padding-right: 200px;
}

.footer-middle-side {
  margin-left: 24px;
  margin-right: 24px;
}

.go-to-top {
  padding: 16px;
 }

 .first-in-main-content {
  padding-left: 200px;
  padding-right: 200px;
}

.first-in-main-content-our-boards {
  padding-left: 100px;
  padding-right: 100px;
}

 .second-in-main-content {
  padding-left: 200px;
  padding-right: 200px;
}

.third-in-main-content {
  padding-left: 200px;
  padding-right: 200px;
}

.third-in-main-content-pillars {
  padding-left: 200px;
  padding-right: 200px;
}

.second-pillar-img {
  margin-left: 8px;
  margin-right: 8px;
}

.fourth-in-main-content {
  padding-left: 200px;
  padding-right: 200px;
}

.fourth-in-main-content-button {
  margin-top: 20px;
}

.fifth-in-main-content {
  padding-left: 200px;
  padding-right: 200px;

}

.fifth-in-main-content-button {
  padding-bottom: 30px;
}

.vission {
  background-color: #1B6580;
}

.miyerkulet-images {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}